.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url( '../img/bg.jpg' );
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  overflow: hidden;
}

.App {
  padding: 20px;
}

.card {
  background-color: rgba(255,255,255, 0.6);
  border-radius: 10px;
  border: none;
  text-align: left;
  padding: 0px;
}

.card .card-header {
  padding: 20px;
  border-bottom: none;
}

.card .card-header h3 {
  font-weight: bold;
  font-size: 20px;
}

.card .card-body {
  padding: 20px;
}

.App-header {
  background-color: transparent;
  min-height: unset;
  text-align: left;
  justify-content: unset;
  display: inline;
  position: relative;
  width: 100%;
  padding: 0px;
}

.App-header h1 {
  font-size: 20px;
  padding: 20px;
  margin: 0px;
  height: 20px;
  color: #000;
  font-weight: bold;
}


.App-header p {
  font-size: 14px;
  padding: 20px;
  margin: 0;
  color: #000;
  font-weight: 300;
}

.table .dropdown-toggle::after {
  display: none !important;
}

.card .card-body {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 210px);
  display: block;
  font-size: 12px;
}

.input-search {
  width: 160px;
  position: relative;
  display: inline-block;
  border-radius: 20px;
}
.input-multiple {
  position: relative;
  display: block;
  border-radius: 20px;
  padding-left: 80px;
}

.rmsc .dropdown-container {
  border-radius: 20px !important;
}

.show {
  display: block !important
}

.hide {
  display: none !important
}

.btn-search, .btn-search:hover {
  border: none;
  position: relative;
  right: 55px;
  width: 45px;
  background-color: transparent !important;
  color: #888;
}

.filter {
  position: relative;
  top: -52px;
  padding: 20px;
}

.filter .dropdown-menu {
  min-width: calc(100% - 40px);
  top: 5px !important;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  height: 300px;
}
.modal-content {
  height: 320px;
}
.filter .input-checkbox {
  width: 100%;
  border-bottom: 0.5px solid #ededed;
  padding: 5px 5px 5px 20px;
}
/* .filter .form-control {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
} */

/* .filter .input-checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
} */

/* .filter .input-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
} */

/* .filter .input-checkbox:checked::before {
  transform: scale(1);
} */

.tbl {
  position: relative;
  display: block;
  width: 100%;
}
.thead {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px !important;
  position: relative;
  display: block;
  width: 100%;
}
.tbl > tbody {
  width: 100%;
    position: relative;
    display: block;
}
.tbl .thead tr, .tbl > tbody > tr {
  width: 100%;
  position: relative;
  display: block;
}

.tbl > tbody > tr:first-child {
  margin-top: 5px;
}
.tbl > tbody > tr {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px !important;
  margin-bottom: 5px;
}


.thead .col-1{
  width: 35% !important;
  position: relative;
  display: inline-block;
}

.thead .col-2{
  width: 15% !important;
  position: relative;
  display: inline-block;
}
.thead .col-3{
  width: 20% !important;
  position: relative;
  display: inline-block;
}
.thead .col-4{
  width: 15% !important;
  position: relative;
  display: inline-block;
}
.thead .col-5{
  width: 15% !important;
  position: relative;
  display: inline-block;
}

.tbl .col-1{
  width: 35% !important;
  position: relative;
  display: inline-block;
}

.tbl .col-2{
  width: 15% !important;
  position: relative;
  display: inline-block;
}
.tbl .col-3{
  width: 20% !important;
  position: relative;
  display: inline-block;
}
.tbl .col-4{
  width: 15% !important;
  position: relative;
  display: inline-block;
}
.tbl .col-5{
  width: 15% !important;
  position: relative;
  display: inline-block;
}

.bold {
  font-weight: bold !important;
}

.blue {
  font-style: normal !important;
  color: blue !important;
}

.feedback {
  font-style: normal !important;
  color: blue !important;
}
.editing {
  font-style: normal !important;
  color: gray !important;
}
.red {
  font-style: normal !important;
  color: red !important;
}

.icon-blue {
  font-style: normal !important;
  color: blue !important;
}

.icon-feedback {
  font-style: normal !important;
  color: blue !important;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.icon-editing {
  font-style: normal !important;
  color: gray !important;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.icon-red {
  font-style: normal !important;
  color: red !important;
}
